<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>PluginName</key>
	<string>_Temperature and Fan Speed</string>
	<key>PluginUUID</key>
	<string>e546a0c2-27c9-4fc9-bafc-c1d03a5fb2c9</string>
	<key>PluginVersion</key>
	<string>0.7.1.1</string>
	<key>ProgramArguments</key>
	<array>
		<string>_wm_temp.plugin</string>
	</array>
</dict>
</plist>
